<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sing Up</title>
<style>
    fieldset {background-color: #f1f1f1;}
        
    legend {
        background-color: #ccc;
        color: rgb(0, 0, 0);
        padding: 5px 10px;}
        
    input {margin: 5px;}
        
    div {margin-left: 200px;
        margin-right: 200px;
        margin-top: 50px}
</style>
</head>
<body>
    <div>
        <form action="/sing_up" method="post">
            <fieldset class="wd">
                <legend>Ingrese sus datos:</legend>
                <label for="name">Nombre completo:</label>
                <input type="text" id="name" name="name"><br><br>
                <label for="apellido">Apellido:</label>
                <input type="text" id="apellido" name="apellido"><br><br>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email"><br><br>
                <label for="nombre_usuario">Nombre de usuario:</label>
                <input type="text" id="nombre_usuario" name="nombre_usuario"><br><br>
                <label for="cloister">Claustro:</label>
                <select id="cloister" name="cloister"> 
                    <option value="Estudiante" id="cloister" name="cloister">Estudiante</option> 
                    <option value="Docente" id="cloister" name="cloister">Docente</option> 
                    <option value="PAyS" id="cloister" name="cloister">PAyS</option> 
                </select><br><br>
                <label for="contraseña">Contraseña:</label>
                <input type="password" id="contraseña" name="contraseña"><br><br>
                <label for="contraseña_rep">Repetir contraseña:</label>
                <input type="password" id="contraseña_rep" name="contraseña_rep"><br><br>
                <input type="submit" value="Continuar">
                {% if condicion=="nada": %}
                    <p style="font-size:14xp">Complete el formulario</p>
                {% else:%}
                    <p style="color:rgb(206, 23, 23); font-size: 14px;">{{condicion}}</p>
                {% endif %}
            </fieldset>
        </form>
        
            <!-- {% if condicion=="nada": %}
                <p style="font-size:14xp">Complete el formulario</p>
            {% elif condicion=="correcto": %}
            <form action="/">
                <input type="submit" value="Continuar">
            </form>
            {% else:%}
                <p style="color:rgb(206, 23, 23); font-size: 14px;">{{condicion}}</p>
            {% endif %} -->
    </div>
</body>
</html>