<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generar Reclamo</title>
<style>
    fieldset {background-color: #d9e3e9;}
        
    legend {
        background-color: rgb(80, 126, 145);
        color: white;
        padding: 5px 10px;}
        
    input {margin: 5px;}
        
    div {margin-left: 200px;
        margin-right: 200px;
        margin-top: 20px}

    table {font-family: arial, sans-serif; width: 100%;}

    td, th {border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;}
</style>
</head>
<body>
<div>
<form action="/reclamo" method="post" enctype="multipart/form-data">
            <fieldset>
                <legend>Nuevo reclamo</legend>
                <label for="descripcion">Descripción:</label>
                <textarea id="descripcion" name="description" rows="4" cols="50"></textarea>
  <label for="foto">Adjuntar foto:</label>
  <input type="file" id="foto" name="image" accept="image/*">
     <input type="submit" value="Crear">

</div>
</body>
</html>
