<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sing Up</title>
<style>
    fieldset {background-color: #f1f1f1;}
        
    legend {
        background-color: #ccc;
        color: rgb(0, 0, 0);
        padding: 5px 10px;}
        
    input {margin: 5px;}
        
    div {margin-left: 200px;
        margin-right: 200px;
        margin-top: 50px}

    .btn {
        background-color: #34495e ;
        color: white;
        padding: 5px 10px;
        text-decoration: none;}

    .btn:hover {
         background-color: #0056b3;}

</style>
</head>
<body>
    <div>
        <form action="/sing_up" method="post">
            <fieldset>
                <legend>Ingrese sus datos:</legend>
                <label for="nombre">Nombre completo:</label>
                <input type="text" id="nombre" name="name"><br><br>
                <label for="apellido">Apellido:</label>
                <input type="text" id="apellido" name="surname"><br><br>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email"><br><br>
                <label for="nombre_usuario">Nombre de usuario:</label>
                <input type="text" id="nombre_usuario" name="username"><br><br>
                <label for="claustro">Claustro:</label>
                <select id="claustro" name="cloister"> 
                    <option value="Estudiante">Estudiante</option> 
                    <option value="Docente">Docente</option> 
                    <option value="PAyS">PAyS</option> 
                </select><br><br>
                <label for="contraseña">Contraseña:</label>
                <input type="password" id="contraseña" name="password" pattern=".{8,}" required title="Por favor ingrese una contraseña con, al menos, 8 caracteres"><br><br>
                <label for="contraseña_rep">Repetir contraseña:</label>
                <input type="password" id="contraseña_rep" name="password_again"><br><br>
                <input type="submit" value="Continuar">
                {% if condicion!="": %}
                    <p style="color:rgb(206, 23, 23); font-size: 14px;">{{condicion}}</p>
                    {%if condicion=="Ya existe una cuenta con ese nombre de usuario" or condicion=="Ya existe una cuenta con ese email"%}
                    <label for="button">¿Log in instead?</label>
                    <a href="{{ url_for('raiz') }}" class="btn" id="button">Logearse</a>
                    {% endif %}
                {% endif %}
            </fieldset>
        </form>
    </div>
</body>
</html>